---
/* http://localhost:2121/playground/kitchen-sink/ */

import LayoutSidebar from '../../app/LayoutSidebar.astro';
import StudentsList from '../../modules/StudentsList.astro';
import CrudProducts from '../../modules/CrudProducts.astro';
---

<LayoutSidebar class="bg-slate-800 text-slate-100 mb-20 py-16 px-8">
	<!-- UserのリストをAPIから取得するコンポーネント -->

	<section>
		<StudentsList class="p-4 lg:p-16" />
	</section>

	<!-- プロダクトのリストをAPIから取得するコンポーネントCrudProducts -->

	<section>
		<CrudProducts class="p-4 lg:p-16" />
	</section>
</LayoutSidebar>

<script>
	import type { CrudEntities } from '../../modules/CrudEntities.client.js';
	import type { PlaygroundAction } from '../../types/entities';

	const playgroundActions: Record<PlaygroundAction, (...args: any) => void> = {
		refetchCrudData: (crud: CrudEntities) => crud.update(),
		hardReloadPage: () => location.reload(),
	};

	document.querySelectorAll('[data-action]').forEach((b) =>
		b.addEventListener('click', (e) =>
			document.querySelectorAll('entities-crud').forEach((crud) => {
				const name = (e.target as HTMLElement).dataset
					.action as PlaygroundAction;

				console.log('Action!', name, e.target);

				playgroundActions[name](crud);
			}),
		),
	);
</script>
